body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Latar belakang hitam */
    color: #fff; /* Warna teks putih */
}

#app {
    text-align: center;
    position: relative; /* Dijadikan referensi untuk feedback */
}

#countdown {
    font-size: 72px; /* Ukuran countdown lebih besar */
    margin: 20px 0;
    white-space: pre-line;
}

#number-display {
    font-size: 200px; /* Ukuran angka lebih besar */
    margin: 20px 0;
}

#feedback {
    position: absolute;
    top: calc(100% + 20px); /* Pastikan feedback berada di bawah angka/titik */
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px; /* Ukuran teks kembali normal */
    color: red;
    width: max-content;
    text-align: center;
}
